/*---------- title -----------*/
h1, .h1{
    font-size: var(--heading-1);
}
h2, .h2{
    font-size: var(--heading-2);
}
h3, .h3{
    font-size: var(--heading-3);
}
h4, .h4{
    font-size: var(--heading-4);
}
h5, .h5{
    line-height: 1.7em;
    font-size: var(--heading-5);
}
.line-height-15em{
    line-height: 1.5em;
}
.scroll-snap-align-start{
    scroll-snap-align: start;
}
.title{
    text-transform: uppercase;
    letter-spacing: 2px;
}
.btn{
    font-weight: 400;
    font-size: var(--tt-font-size--secondary);
    line-height: 24px;
    color: var(--tt--color-text--primary);
    padding: 12px 32px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}
.btn-primary{
    background-color: var( --tt--bg--secondary);
}
.btn-secondary{
    border: 1px solid var(--tt--color-text--primary);   
}
.btn-link{
    padding: 0px;
}
.btn-dark{
    background-color: var(--tt--bg--primary);
    color: var(--tt--color-text--success);
}
p{
    color: var(--tt--color-text--danger);
    line-height: 1.7em;
    font-size: var( --tt-font-size--secondary);
}
.box{
    background-color: var(--tt--bg--secondary);
    border: 1px solid var(--tt--bg--danger);
    box-sizing: border-box;
}
.distance-shared{
    padding: 40px 0px;
}
.scroll-x{
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scroll-snap-stop: always;
    scroll-snap-type: x mandatory;
    scroll-padding-left: 15px;
    scrollbar-width: none;
    overflow-x: auto;
}
.scroll-x.row{
    flex-wrap: nowrap !important;
}
.scroll-x::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
.price{
    color: var( --tt--color-text--price);
    line-height: 24px;
}
.color-white{
    color: var(--tt--bg--secondary);
}
.color-black{
    color: var(--tt--bg--primary);
}
.bg-white{
    background-color: var(--tt--bg--secondary);
}
.bg-black{
    background-color: var(--tt--bg--primary);
}
.mb-5{
    margin-bottom: 5px;
}
.mb-15{
    margin-bottom: 15px ;
}
.mb-20{
    margin-bottom: 20px !important;
}
.mb-25{
    margin-bottom: 25px;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-40{
    margin-bottom: 40px;
}
.mb-70{
    margin-bottom: 70px !important;
}
.mt-20{
    margin-top: 20px;
}
.mt-30{
    margin-top: 30px;
}
.mt-40{
    margin-top: 40px;
}
.mt-35{
    margin-top: 35px;
}
.mt-10{
    margin-top: 10px;
}
.mt-5{
    margin-top: 5px;
}
.fw-400{
    font-weight: 400;
}
.distance-box{
    margin-bottom: 14px;
}
/* end shared */

/* -------- homepage -------- */
.title-home--bottom{
    margin-bottom: 25px;
}
/* banner */
.banner__content{
    padding: 0px 0px 20px 0px;
}
.banner__title{
    margin-bottom: 15px;
}
.img-slide{
    min-height: 320px;
}
.slideshow-container {
    margin: auto;
}
.mySlides {
    display: none;
}
.prev, .next {
    cursor: pointer;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: var( --tt--color-text--success);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
 @-webkit-keyframes fade {
    from {opacity: .8}
    to {opacity: 1}
  }
 @keyframes fade {
    from {opacity: .8}
    to {opacity: 1}
  }
/* st1-home */
.shop__btn{
    margin-bottom: 10px;
    min-width: 125px;
}
.shop__btn--padding{
    padding: 12px 0px;
}

/* st2-home */
#st2-home .box{
    background-color: var( --tt--bg--success);
}
.video__btn{
    width: 27px;
    height: 27px;
    border: 1px solid var(--tt--bg--secondary);
    border-radius: 100%;
    padding: 0;
}
.video__btn svg{
    height: 8px;
    width: 7px;
}
.discover__content{
    padding: 60px 30px;
}
/* st3-home */
.product__icon{
    padding: 11px 10px
}
.product__btn{
    padding: 8px 14px;
}
.product__title{
    font-weight: 400;
}
/* st4-home */
.collection{
    background-size: 100% 100%;
    padding:74px 0px;
}
.collection__btn--padding{
    padding: 0px;
}
/* section-home_6 */
.services{
    background-color: var(--tt--bg--success);
}
.services__box svg{
    height: 40px;
    width: 40px;
}
.btn svg{
    width: 5px;
    height: 9px;
}
.services__box{
    background-color: var(--tt--bg--secondary);
    padding: 50px 20px;
}
/* -------- end homepage -------- */

/* -------- history -------- */
.banner-inside-page{
    background-color: var(--tt--bg--success);
    padding: 56px 0px;
}
/* stt1-history */
#stt1-history .ctnr{
    width: auto;
}
.birth__title{
    margin-top: 30px;
}
/* stt2-history */
#stt2-history{
    background-color: var(--tt--bg--success);
}
.stt2-history__content{
    padding-top: 30px;
    padding-bottom: 30px;
}
.stt2-history__title{
    margin-bottom: 25px !important;
}
.order:nth-child(2n){
    padding-bottom: 40px;
}
/* section-history_4 */
.why-choose{
    padding: 70px 0px;
}
.why-choose__title{
   margin-bottom:15px !important ;
}
/* -------- end history -------- */
/* -------- become -------- */
.register__form{
    padding-top: 40px;
}
.register__title{
    margin-bottom: 15px !important;
}
.register__form .form-control{
    padding: 18px 24px;
    height: 60px;
    border: 1px solid var(--tt--bg--danger);
    box-sizing: border-box;
}
.register__form textarea.form-control{
    min-height: 150px;
}
.label-become{
    padding-bottom: 10px;
}
.register__form .form-group{
    padding-bottom: 40px;
}
.form_check-robo{
    padding-bottom: 20px;
}
.check-robo{
    width: 24px;
    height: 24px;
    margin-right: 24px;
}
.form-group input::placeholder, .form-group textarea::placeholder{
    color: var( --tt--color-text--secondary);
}
/* -------- end become -------- */

/* --------------FQA---------------- */
.tabs__link{
    margin-bottom: 40px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
    justify-content: start;
}
.tab__btn {
    border: none;
    outline: none;
    cursor: pointer;
    font-size:var(--tt-font-size--danger);
    transition: 0.2s ease;
    color: var(--tt--color-text--secondary);
    margin-right: 40px;
    padding: 10px;
    transition: all ease .3s;
}
.tab__btn::after{
    visibility: hidden;
    opacity: 1;
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--tt--bg--primary);
    transform: translateX(-100%);
}
.tab__btn.active::after{
    visibility: visible;
    opacity: 1;
    transform: translateX(0%);
    transition: all ease .3s;
}
.tab__btn:last-child{
    margin-right: 0px;
}
.tab__btn:hover{
    color: var(--tt--text--primary);
}
.tab__btn.active {
    color: var(--tt--text--primary)
}
.tabcontent-title{
    padding: 40px 30px 40px 0px;
}
.tabcontent-title svg{
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.show-content svg path:nth-child(2){
    transform: rotate(90deg);
}
.tabcontent {
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: all ease-in-out .5s;
    transform: translateX(-100%);
}
.tabcontent .box{
    box-shadow: inset 0px -1px 0px #ABAAB3;
}
.tabcontent.active {
    visibility: visible;
    opacity: 1;
    height: auto;
    transition: all ease .5s;
    transform: translateX(0%);
}
.desc-shared--black{
    color: var(--tt--color-text--primary);
}
.desc-shared--lheight-40{
    line-height: 40px;
}
.tabcontent__desc{
    visibility: hidden;
    opacity: 0;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    transition: all ease .3s;
    height:0px;
}
.tabcontent__desc strong{
   margin-block: 20px 10px;
   display: block;
}
.tabcontent__desc p{
    margin-bottom: 20px;
}
.show-click .tabcontent__desc{
    visibility:visible;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: all ease .3s;
    height:auto;
    padding-bottom: 20px;
}
.tabcontent__icon path{
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-in-out;
    stroke-linecap: round;
}
.tabcontent__icon.show-icon path:nth-child(2){
    transform: rotate(90deg);
}
.question__content{
    font-weight: 600;
}
.question__content  a{
    text-decoration: underline;
}
.question .distance-shared{
    padding-top: 0px;
}
/* contact */
.support__box--padding{
    padding: 50px 10px;
}
.support__icon svg{
    width:40px ;
    height: 40px;
}
.support__title{
    margin-bottom: 15px !important;
}
.open-hour{
    margin-top: 40px;
}
.support__desc{
    margin-bottom: 30px;
}
/* product */
.reflect__desc{
    margin-bottom: 30px;
}
.reflect__box--padding{
    padding: 50px 40px;
}
.reflect__icon {
    line-height: initial;
}
.reflect__icon svg{
    width:40px ;
    height: 40px;
}
#story{
    padding: 70px 0px;
}
.clean-tool__content{
    padding: 60px 30px 90px 30px;
    box-sizing: border-box;
    background-color: var(--tt--bg--success);
    order: 2;
}
.clean-tool__img{
    order: 1;
}
.clean-tool__title{
    margin-bottom: 20px !important;
}
.clean-tool__desc{
    margin-bottom: 85px !important;
}
/* collection */
#banner-collection{
    padding-block: 30px;
}
.collection__title{
    margin-bottom: 5px !important;
}
.product__filter{
    padding-bottom: 40px;
}
.product__label,
.product__select{
    font-size: 14px;
    line-height: 19px;
    padding-inline: 0px 10px ;
}
.product__form .btn{
    font-size: 14px;
}
.product__filter--padding{
    padding: 0px;
}
.product__form .btn{
    margin-left: 60px;
}
.product__form{
    margin-top: 20px;
}

/* product details */
.breadcrumb{
    padding-bottom: 40px;
}
.breadcrumb__li::after{
    content: "";
    position: absolute;
    height: 5px;
    width: 5px;
    border-radius: 100%;
    background-color: var( --tt--bg--warning);
    top: 50%;
    transform: translate(-50%, -50%);
}
.breadcrumb__li:last-child:after{
    content: none;
}
.breadcrumb__a{
    font-size: var( --tt-font-size--warning);
    line-height: 24px;
    color: var(--tt--color-text--1);
    font-weight: 400;
    padding-inline: 15px;
}
.breadcrumb__li:first-child .breadcrumb__a{
    padding-left: 0px;
}
.breadcrumb__a.active{
    color: var(--tt--color-text--primary);
}
.product-detail{
    box-shadow: 0px -1px 0px var(--tt--bg--danger);
}
.product-detail__image-primarykey img{
    height: 399.72px;
}
.product-detail__list-images button{
    height: 48px;
    width: 48px;
    border-color: var(--tt--bg--secondary);
    border-radius: 100%;
    padding: 0;
}
.product-detail__list-images button svg{
    height: 24px;
    width: 16px;
}
.product-detail__image-small{
    height: 96px;
}
.product-detail__image-primarykey{
    padding-bottom: 20px;
}
.buttons_added {
    opacity:1;
    display:inline-block;
    display:-ms-inline-flexbox;
    display:inline-flex;
    white-space:nowrap;
    vertical-align:top;
    border: 1px solid var(--tt--bg--danger);
}
.is-form {
    overflow: hidden;
    height: 50px;
    width: 50px;
    padding: 0;
    text-shadow: 1px 1px 1px var( --tt--bg--secondary);
    font-size: var(--tt-font-size--success);
}

.is-form:focus,.input-text:focus {
    outline:none;
    border: 0;
}
.input-qty {
    background-color: var( --tt--bg--primary--2);
    height: 50px;
    font-size: 1rem;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding:0;
    width: 50px;
}
.input-qty::-webkit-outer-spin-button,.input-qty::-webkit-inner-spin-button {
    -webkit-appearance:none;
    margin:0;
}
.product-detail__label-right{
    font-weight: 600;
    font-size: var( --tt-font-size--success);
    line-height: 19px;
    color: var(--tt--color-text--primary);
}
.product-detail__label-left{
    font-weight: 400;
    line-height: 24px;
    color: var( --tt--color-text--danger);
}
.product-detail__label-left svg{
    margin-right: 10px;
}
.product-detail__select{
    height: 50px;
    background: var( --tt--bg--secondary);
    border: 1px solid var(--tt--bg--danger);
    padding: 11px 20px;
    position: relative;
}
.product-detail__select:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}
.product-detail__btnaddcart--padding{
    padding: 13px 79px;
}
.product-detail__btnaddcart--border,
.product-detail__btnheart--border{
    border: 1px solid #ECECEC;
}
.product-detail__btnheart svg {
    width: 20px;
    height: 18px;
}
.product-detail__btnheart--padding{
    padding: 15px 16px;
}
.product-detail__btnbuynow--bg{
    background-color: var(--tt--bg--primary);
}
blockquote{
    background: #F5F5F5;
    padding: 7px 18px;
}
.product-detail__title{
    margin-bottom: 10px;
}
.product-detail__price{
    margin-bottom: 32px;
}
.product-detail__select{
    margin-bottom: 30px;
}
.product-detail__btnbuynow{
    margin-block: 15px 30px;
    
}
.product-detail__blockquote{
   display: none !important;
}
.product-detail__p{
    margin-bottom: 40px;
}
.product-detail__content img{
    margin-top: 30px;
}
.product-detail__label{
    margin-bottom: 20px;
}
.product-detail__content{
    margin-top: 40px;
}

.tab__btn--padding{
    padding: 27px 0px;
    font-size: var( --tt-font-size--success);
}
.product-detail-tab__btn{
    box-shadow: inset 0px -1px 0px #ECECEC;
}
.product-detail-tab__btn::after {
    height: 1px;
}
.product-detail-tabcontent__p{
    color: var(--tt--color-text--primary);
    font-weight: 600;
    font-size: var( --tt--font-size--md-large--24);
    margin-bottom: 35px;
}
.product-detail-tabcontent__ul{
    margin-bottom: 40px;
}
.product-detail-tabcontent__li{
    margin-left: 15px;
    font-weight: 400;
    line-height: 24px;
    color: var( --tt--color-text--danger);
    list-style: disc;
    margin-bottom: 15px;
}
.product-detail-tabcontent__li::marker {
    color: black;
}
.product-detail__tabcontent .box{
    padding-block: 80px;
}
.product-detail__tabs .tabs__link{
    margin-bottom: 0px;
}
.product-detail__tabcontent .box {
    box-shadow: inset 0px 0px 0px #ABAAB3;
}
.tabcontent__right img{
    height: 213px;
    width: 100%;
}

.modal-video{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:var(--tt--bg--opacity);
    display: none;
    opacity: 1;

}
.modal-content{
    background-color: var(--tt--bg--secondary);
    margin: auto;
    padding: 10px;
    width: 50%;
    height: 400px;
    align-items: center;
}
.my-class{
    display: flex;
}
.modal-video .btn-click-video{
    display: none;
}
.close-video{
    position: absolute;
    color: var(--tt--color-text--success);
    font-size: 15px;
    height: 30px;
    width: 30px;
    background-color: var(--tt--bg--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    top: 20px;
    right: 25px;
}
.box__video iframe{
    display: none;
}
.modal-content iframe{
    display: block;
    width: 100%;
    height: 100%;
}
.modal-content img{
    display: none;
}
.video__btn,
.cl-video{
    cursor: pointer;
}