@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --heading-1: 20px;
    --heading-2: 24px;
    --heading-3: 20px;
    --heading-4: 16px;
    --heading-5: 14px;
    --tt-font-size--primary: 30px;
    --tt-font-size--secondary: 14px;
    --tt-font-size--success: 16px;
    --tt-font-size--danger: 18px;
    --tt-font-size--warning: 15px;
    --tt--bg--primary: #171719;
    --tt--bg--secondary:#fff;
    --tt--bg--success:#F5F5F5;
    --tt--bg--danger:#ECECEC;

    /* --tt--bg--primary: #171719;
    --tt--bg--primary--2: #fff;
    --tt--bg--secondary--1: #F5F5F5;
    --tt--bg--secondary--2: #ECECEC;
    --tt--bg--color--1:#9EA0A8; */
    --tt--color-text--primary: #171719;
    --tt--color-text--secondary:#BABCC3;
    --tt--color-text--success:#fff;
    --tt--color-text--danger:#84848E;
    /* --tt--color-text--primary--2: #BABCC3;
    --tt--color-text--primary--3: #fff;
    --tt--color-text--secondary: #555562;
    --tt--color-text--secondary--2: #84848E;
    --tt--color-text--1:#BABCC4; */

    --tt--font-family--l:'Lato', sans-serif;

    --t-a--center: center;
    --t-a--right: right;
}
body{
    font-family: var(--tt--font-family--l);
    font-size: var(--tt-font-size--secondary);
    font-weight: 400;
    line-height: 1.7em;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--tt--color-text--primary);
}
img{
    object-fit: cover;
}

.d-flex{
    display: flex;
}
.fw-wrap{
    flex-wrap: wrap;
}
.fw-nowrap{
    flex-wrap: nowrap;
}
.d-inline-flex{
    display: inline-flex;
}
.align-items-center{
    align-items: center;
}
.text-align-center{
    text-align: center;
}
.jc-center{
    justify-content: center;
}
.jc-space-between{
    justify-content: space-between;
}
.d-block{
    display: block;
}
.d-inline-block{
    display: inline-block;
}
.w-100{
    width: 100%;
}
.w-50{
    width: 50%;
}
.h-100{
    height: 100%;
}
.letter-spacing{
    letter-spacing: 2px;
}
.fw-600{
    font-weight: 600;
}
.p-relative{
    position: relative;
}
.top-0{
    top: 0;
}
.left-0{
    left: 0;
}
.right-0{
    right: 0;
}
.bottom-0{
    bottom: 0;
}
.p-absolute{
    position: absolute;
}
.tt-uppercase{
    text-transform: uppercase;
    
}
.bg-transparent{
    background-color: transparent;
}
.border-0{
    border: 0;
}

/* ----- column ----- */
.ctnr{
    max-width: 100%;
    padding-inline: 15px;
    margin: 0 auto;
    width: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin:0px -7px;
}
.clm {
    flex: 1 0 auto;
    padding: 0px 7px;
    box-sizing: border-box;
}
[style*="--w-xs"] {
    width: calc(100%/12 * var(--w-xs));
    max-width: calc(100%/12 * var(--w-xs));
}
@media (min-width: 576px){
    [style*="--w-sm"] {
        width: calc((100%/12) * var(--w-sm));
        max-width: calc((100%/12) * var(--w-sm));
    }
    .ctnr{
        max-width: 540px; 
    }
}
@media (min-width: 768px){
    :root{
        --heading-1: 30px;
        --tt-font-size--danger: 22px;
    }
    .row{
        margin:0px -10px;
    }
    .clm {
        padding: 0px 10px;
    }
    [style*="--w-md"] {
        width: calc((100%/12) * var(--w-md));
        max-width: calc((100%/12) * var(--w-md));
    }
    .ctnr{
        max-width: 720px; 
    }
    
}
@media (min-width: 992px){
    [style*="--w-lg"] {
        width: calc((100%/12) * var(--w-lg));
        max-width: calc((100%/12) * var(--w-lg));
    }
    .ctnr{
        max-width: 960px; 
    }
}
@media (min-width: 1200px){
    [style*="--w-xl"] {
        width: calc((100%/12) * var(--w-xl));
        max-width: calc((100%/12) * var(--w-xl));
    }
    .ctnr{
        max-width: 1183px;
    }
}
/* ----- end column ----- */




    


